.card img{
    width: 100%;
    height: 250px;

}
h1{
    color: orange;
    font-weight: 600;

}
.text2{
    color: crimson;
}
.carousel-item{
    width: 600px;
    height: 300px;
}
.carousel-item img{
    width: 100%;
} 
@media(max-width:768px){
   .card{
       margin-left: 40px;
       margin-bottom: 30px;
   }
}